.App body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
}

.App a {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.App .main-card {
  width: 97%;
  display: block;
  margin: 0 auto 10px;
}
